{
    "presets": [
        ["env", {
            "targets": {
                "browsers": [
                    "iOS >= 9.3.5",
                    "Chrome >= 63",
                    "Firefox >= 57"
                ]
            },
            "useBuiltIns": "entry"
        }]
    ]
}