doctype html
html
    head
        meta(name="viewport",content="width=device-width")
        if user
            script window.USER=JSON.parse(atob("!{user}"))
        else
            script window.USER=undefined
        script window.CSRF_TOKEN="#{csrfToken}"
        script(src="https://cdn.polyfill.io/v2/polyfill.js?features=fetch")
        script(src="/assets/bundle.js?version="+GIT_COMMIT)
    body
        app
            p ...あれ、もしかしてページが表示されてませんか?
            p ご迷惑をおかけしています。このサイトはわりとあたらしめの技術を使っているので、iOS 9以下などの古いブラウザでは表示できません。
            p お手数をおかけしますが、リロードしてもだめなようでしたら、OSやブラウザをアップデートするか、他の端末から再度アクセスしてみてください。