doctype html
html
    head
        if user
            script window.USER=JSON.parse(atob("!{user}"))
        else
            script window.USER=undefined
        script window.CSRF_TOKEN="#{csrfToken}"
        script window.GIT_VERSION="#{GIT_COMMIT}"
        script(src="https://cdn.polyfill.io/v2/polyfill.js?features=fetch")
        script(src="/assets/bundle.js?version="+GIT_COMMIT)
        meta(name="git-version", content=GIT_COMMIT)
    body
        #root
            p ...あれ、もしかしてページが表示されてませんか?
            p ご迷惑をおかけしています。何回かリロードしていただいた後、それでもこの画面が表示されるようでしたら、以下の動作環境を満たしていることを確認した後、Mastodon @quesdon@mstdn.jp までお問い合わせください。
            p: strong 2018年1月20日深夜に大幅アップデートを行いました。以前は閲覧できていたのに1月20日以降に閲覧できなくなった場合は、こちらのミスである可能性が非常に高いです。お手数ですが、 Mastodonの @quesdon@mstdn.jp までお問い合わせください。
            h2 動作環境
            ul
                li iOS 9.3.5以上 (推奨: iOS 11.2.2以上)
                li Chrome 63以上
                li Firefox 57以上
            p Edge, Internet Explorerは動作対象外です。Google Chrome、もしくはFirefoxをお使いください。