doctype html
html
    head
        script(src="/assets/bundle.js?version="+GIT_COMMIT)
        meta(name="viewport",content="width=device-width")
    body
        app
            p ...あれ、もしかしてページが表示されてませんか?
            p ご迷惑をおかけしています。このサイトはわりとあたらしめの技術を使っているので、iOS 9以下などの古いブラウザでは表示できません。
            p お手数をおかけしますが、リロードしてもだめなようでしたら、OSやブラウザをアップデートするか、他の端末から再度アクセスしてみてください。